<!DOCTYPE html>
<html>
 <head>
   <meta charset='utf-8'>
   <title>MadLib Words</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
 </head>
 <body>
   <h1>You know how this works. Fill in the blanks.</h1>
   <form action="/madlibStory" method="post">
    <label for="verb1">Verb</label>
    <input id="verb1" name="verb1" type="text">
    <label for="noun1">Noun</label>
    <input id="noun1" name="noun1" type="text">
    <label for="adj1">Adjective ending in "y"</label>
    <input id="adj1" name="adj1" type="text">
    <label for="verb2">Verb ending in "-ing"</label>
    <input id="verb2" name="verb2" type="text">
    <label for="noun2">Noun</label>
    <input id="noun2" name="noun2" type="text">
    <button type="submit">Read Madlib</button>
   </form>
 </body>
</html>
